<div class="coreback">
  <div class="centercard">
    <img class="hearpng" src="https://marketplace.canva.com/MAB48Xu3f-I/1/thumbnail/canva-heart-icon-MAB48Xu3f-I.png" />

    <div class="inputcont">
      <div *ngIf="!pickedHabit && !completeSignup">
        <input type="email" placeholder="Your email" [(ngModel)]="email" #ctrl="ngModel" required/><br />

        <select [(ngModel)]="habit" #ctrl="ngModel" required>
            <option value="" disabled selected>Select habit to crush</option>
            <option value="diet">Diet</option>>
            <option value="exercise">Exercise</option>
            <option value="habit">Personal Habit</option>
        </select>

        <button class="createbtn" (click)="setHabit()">Continue</button>

      </div>

      <div *ngIf="pickedHabit && !completeSignup">
        <input type="text" placeholder="Name your character!"  [(ngModel)]="name" #ctrl="ngModel" required/><br />
        <input type="number" placeholder="Age"  [(ngModel)]="age" #ctrl="ngModel" required/><br />
        <input type="number" placeholder="Height in cm"  [(ngModel)]="height" #ctrl="ngModel" required/><br />

        <select [(ngModel)]="gender" #ctrl="ngModel" required>
            <option value="" disabled selected>Select Gender</option>
            <option value="male">Male</option>>
            <option value="female">Female</option>
        </select>

        <button class="createbtn" (click)="completeSetup()">Obtain free character </button>
      </div>

      <div *ngIf="pickedHabit && completeSignup">

        <h2>You have signed up. The App is coming soon! (an email is coming your way)</h2>
      </div>
    </div>
  </div>

  <div class="rightcard">
    <h1>HeartyHabits</h1>

    <p>Ever had a habit you wanted to break? Hearty Habits puts the power in your hands and lets you literally slay your vices. <br /><br /> The more time you spend achieving your real world goals, the stronger your Hearty gets and the better they are at killing your demons. Smash beer bottles gone bad, slice sentient lard and enjoy carving your way to the you you want to be. </p>

    <h3>Want to find out more? email us at info@heartyhabit.io</h3>
  </div>

</div>
