@import url('https://fonts.googleapis.com/css?family=Muli');

.coreback{
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: 'Muli', sans-serif;
}

.centercard{
  width: 30%;
  height: 80vh;
  background-color: #fafafa;
  margin-top: 10vh;

  position: absolute;
  margin-left: auto;
  margin-right: 60%;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px #8e8e8e;
  text-align: center;
  border-radius: 10px;
}

input{
  text-align: left;
  padding: 20px;
  width: 15vw;
  border-radius: 5px;
  border: none;
  margin-top: 3vh;
  box-shadow: 0px 0px 5px #8e8e8e;
}

select{
  text-align: left;
  width: 18vw;
  height: 6vh;
  border-radius: 5px;
  border: none;
  margin-top: 3vh;
  background-color: #ffff;
  box-shadow: 0px 0px 5px #8e8e8e;
  font-size: 12px;
  padding-left: 25vw;
}

.inputcont{
  margin-top: 4vh;
}

.createbtn{
  margin-top: 5vh;
  width: 18vw;
  height: 7vh;
  border: none;
  background-color: #D24D57;
  color: #fff;
  text-transform: uppercase;
}

.hearpng{
  width: 8vw;
  margin-top: 5vh;
}

.rightcard{
  width: 30%;
  height: 80vh;
  margin-top: 10vh;

  position: absolute;
  margin-left: 60%;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.rightcard h1{
  color: #D24D57;
  font-size: 42px;
}

h2{
  font-size: 16px;
  width: 20vw;
  margin-top: 20vh;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
    color: #D24D57;
}

p{
  margin-top: 10vh;
}

h3{
  font-size: 12px;
  margin-top: 10vh;
  color: #D24D57;
}
